.carddeck {
  max-width: 100%;

  .card1 {
    overflow: hidden;
    background-color: transparent;
    border: none;
    margin: 0 auto;

    .cardimg {
      box-shadow: 0 4px 8px 0 rgba(12, 45, 65, 0.144), 0 6px 20px 0 rgba(10, 37, 59, 0.19);
      border-radius: 50px;
      overflow: hidden;
      height: 300px;
      object-fit: cover;
    }

    .carddtext {
      background-color: rgba(0, 53, 133, 0.274);
      color: white;
      font-weight: bold;
      border: none;
      box-shadow: 0 4px 8px 0 rgba(12, 45, 65, 0.144), 0 6px 20px 0 rgba(10, 37, 59, 0.19);
      border-radius: $border-radius;
      position: absolute;
      top: 10%;
      left: 75%;
      transform: translate(-50%, -50%);
      z-index: 2;
      width: 45%;
      padding: $pageSpacing/2;
      text-align: center;
      animation: mymove 5s infinite;
    }

    .ctext {
      text-align: left;
      font-size: 20px;
      color: $colorTitle;
    }
  }
}

@keyframes mymove {
  from {
    background-color: rgba(107, 153, 252, 0.274);
  }

  to {
    background-color: rgba(0, 7, 104, 0.459);
  }
}

.card-body {
  padding: 0 !important;
  padding-top: $pageSpacing !important;
}

@media screen and (max-width: 540px) {
  .carddeck {
    .card1 {
      .ctext {
        font-size: 16px;
      }
    }
  }
}
