.wrapperI {
  max-width: 100%;
  width: 100%;
  margin: 0 auto;
  overflow: hidden;

  :global(.slick-next:before,
    .slick-prev:before) {
    color: rgb(113, 151, 255);
  }

  :global(.slick-list) {
    transition: all 0.3s;
    overflow: visible;
  }

  :global(.slick-dots li) {
    margin: 0
  }

  :global(.slick-slide img) {
    width: 100%;
    margin: 0 40px 0 0;
  }

  :global(.slick-track) {
    margin: 0 auto;
  }
}

.containerI {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
}

@media screen and (max-width: 480px) {
  .wrapperI {
    padding-bottom: 37px;
  }
}

$cardWidth: 685px;
$imgWidth: 390px;

.cardItem {
  width: $cardWidth;
  height: 350px;
  position: relative;
  margin: 0 15px;
  border-radius: 5px;
  box-shadow: -14.444px 19.167px 30px 2px rgb(23 23 23 / 14%);
  transition: all 300ms;
  display: flex;
  overflow: hidden;
}

.imgItem {
  position: relative;
  width: $imgWidth;
  height: 100%;
  display: block !important;

  img {
    height: 100%;
    object-fit: cover;
  }
}

.contentItem {
  box-sizing: border-box;
  width: $cardWidth - $imgWidth;
  padding: 80px 40px;
  position: relative;
}

.additionalInfo {
  font-family: "Proxima Nova Regular", sans-serif;
  text-transform: uppercase;
  margin-bottom: 10px;
  color: #cbcbcb;
}

.titleItem {
  font-size: 12px;
  text-transform: uppercase;
  margin-bottom: 20px;
  position: relative;

  &:before {
    content: "";
    position: absolute;
    top: -13px;
    width: 22px;
    height: 7px;
    background-color: #9aff28;
    border-radius: 6px;
  }

  span {
    display: block;
    text-transform: none;
    margin-top: 2px;
    font-size: 28px;
    line-height: 1;
    font-family: 'Proxima Nova Black', sans-serif;
  }

  &:hover {
    &:before {
      content: "";
      position: absolute;
      top: -13px;
      width: 100%;
      height: 7px;
      transition: all ease-in-out 1000ms;
      border-radius: 6px;
    }
  }
}

.textItem {
  font-size: 15px;
  text-align: justify;
}

.linkItem {
  position: absolute;
  color: #b9b9b9;
  bottom: 60px;
  left: $imgWidth + 40px;

  span {
    font-size: 20px;
  }
}


@media screen and (max-width: 770px) {
  .wrapperI {
    padding-bottom: 100px;
  }

  .cardItem {
    width: 65vw;
    height: calc(65vw * 1.4);
    position: relative;
    margin: 0 0 0 20px;
    display: block;
    box-shadow: -14.444px 19.167px 27px 0px rgba(23, 23, 23, 0.14);
  }

  .additionalInfo {
    margin-bottom: 5px;
  }

  .imgItem {
    height: 50%;
    width: 100%;

    img {
      height: 100%;
    }
  }

  .contentItem {
    padding: 20px;
    width: 100%;
  }

  .titleItem {
    font-size: 11px;
    margin-bottom: 10px;

    span {
      font-size: 20px;
    }
  }

  .linkItem {
    bottom: 20px;
    left: 20px;
  }
}

@media screen and (max-width: 375px) {
  .textItem {
    font-size: 12px;
  }
}

@media screen and (max-width: 345px) {
  .imgItem {
    height: 43%;
  }

  .cardItem {
    height: calc(65vw * 1.5);
  }
}
