.header-container {
  max-width: 100%;
  height: 100vh;
  z-index: 1;
  padding-left: 0;
  background-size: cover;
  top: 0;
}

.header-contact,
.hero-image {
  background-image: url(../../image/contacts.jpg);
  z-index: 2;
  height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding-left: 0;
  top: 0;
  left: 0;
  object-fit: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  opacity: .8;
}

.hero-image {
  background-image: url(../../image/header2.jpg);
  object-fit: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.header-h,
.title {
  margin-top: 220px;
  letter-spacing: 1px;
  text-align: left;
    font-size: 5rem;
    font-family: "Proxima Nova Black", sans-serif;
    text-transform: uppercase;
    line-height: 1;
    padding: 1rem 0 2rem 0;
    background: linear-gradient(170deg, rgb(108, 190, 241) 5.35%, rgb(50, 141, 216) 13.4%, #8fd2db 19.66%, rgb(109, 162, 211) 25.48%, rgb(14, 141, 141) 35.77%, #9ed1e4 44.27%, rgb(13, 79, 99) 54.11%, rgb(153, 205, 218) 62.62%, rgba(71, 81, 83, 0.97) 71.56%, rgb(74, 102, 129) 81.85%, #6387b8 91.25%);
    background-size: 100%;
    background-repeat: repeat;
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    -webkit-text-fill-color: transparent;
    -moz-background-clip: text;
    -moz-text-fill-color: transparent;
    &:hover {
    text-shadow: 0 0 1px rgb(121, 235, 255),
    0 0 2px #fff,
    0 0 4px #fff,
    0 0 8px #fff;
  }
    @media screen and (max-width: 950px) {
        font-size: 4rem;
    }
}
.title {
  margin-top: 120px;
  text-align: center;
  color: $colorWhite;
  font-family: $fontTitle;
  font-size: 3rem;
  @media screen and (max-width: 500px) {
    margin-top: 50px;
    font-size: 1.8rem;
}
}
.header-title {
  letter-spacing: 1px;
  color: rgba(0, 0, 0, 0.644);
  text-align: left;
  font-size: 2rem;
  margin-top: 100px;
}

.containers {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  z-index: 1;

  .content {
    padding: $pageSpacing;
    text-align: center;
    transform: translateY(15px);
    opacity: 0.7;
    transition: 0.5s;

    &:hover {
      transform: translateY(0px);
      opacity: 1;
    }

    .content-image {
      padding-bottom: $pageSpacing*3;
      padding-top: $pageSpacing*2;
    }

    .content-title {
      font-size: 2em;
      color: $colorTitle;
      font-weight: 500;
    }

    .content-text {
      text-align: left;
      font-size: 1em;
      font-weight: 400;
    }
  }
}

.cards {
  position: relative;
  width: 350px;
  height: 400px;
  margin: 30px;
  padding: $pageSpacing;
  box-shadow: 0 4px 8px 0 rgba(12, 45, 65, 0.144), 0 6px 20px 0 rgba(10, 37, 59, 0.19);
  border-radius: $border-radius;
  background-image: linear-gradient(to top, #f5e49eb9 0%, #2e2a1b3b 1%, #fdfdad46 31%, #f8f8f8 75%, #acac8f7c 100%);
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  border-bottom: solid 2px rgba(255, 255, 255, 0.7);
  border-right: solid 2px rgba(255, 255, 255, 0.7);
  backdrop-filter: blur(5px);
}
@media screen and (max-width: 1450px) {
  .header-title {
    padding-left: 5rem;
  }

  .header-h {
    padding-left: 5rem;
  }
}
@media screen and (max-width: 1250px) {
  .containers {
    .cards {
      margin: $pageSpacing;
    }
  }
}

@media screen and (max-width: 800px) {

  .header-title,
  .header-h {
    margin-top: 100px;
text-align: center;
padding-left: 0;
font-size: 2.5rem;
  }
  .header-title {
    font-size: 1.5rem;
    margin-top: 30px;
  }
  .containers {
    .cards {
      width: 220px;
      height: 350px;
      margin: 10px;

      .content {
        padding: 0px;

        .content-image {
          padding-bottom: $pageSpacing*2;
          padding-top: -$pageSpacing;
        }

        .content-title {
          font-size: 1.2em;
          font-weight: 300;
        }

        .content-text {
          font-size: 14px;
        }
      }
    }
  }
}

@media screen and (max-width: 540px) {

  .header-title {
    z-index: 9999;
  }

  .header-h {
    margin-top: 80px;
  }

  .containers {

    .cards {
      width: 400px;
      height: 300px;
      margin: 15px;

      .content {
        padding: $pageSpacing;

        .content-image {
          padding-bottom: $pageSpacing;
          padding-top: $pageSpacing;
        }

        .content-title {
          font-size: 1.2em;
          font-weight: 300;
        }

        .content-text {
          font-size: 14px;
        }
      }
    }
  }
  .social {
    display: none;
  }
}

@media screen and (max-width: 430px) {
  .containers {

    .cards {
      width: 350px;
    }
  }
}

@media screen and (max-width: 390px) {
  .containers {

    .cards {
      width: 250px;
    }
  }
}

.circlesBlock {
  position: absolute;
  left: 7%;
  top: 0%;
  transform: translate(-50%);
  z-index: 1;
}
.block {
  position: absolute;
  right: 5%;
  top: 15%;
  transform: translate(-50%);
  z-index: 1;
}
.social {
  width: 53%;
  left: -22%;
  height: 50%;
  top: 50%;
  position: absolute;
z-index: 9999;
  &__hr {
    width: 72%;
  }
  @media screen and (max-width: 800px) {
    width: 80%;
    left: -32%;
  }
}

.lin {
  transform: rotate(-90deg);
}

.al {
  text-decoration: none;
  color: rgb(1, 80, 129);
  padding: 0 1em;
  &:hover {
    color: rgb(17, 0, 255);
  }
}

