$colorWhite: #ffffff;
$colorBlack: #000000;
$colorTitle: #063695;
$colorBackground: #E9E9E9;

$pageWidth: 1250px;
$pageSpacing: 1rem;

$fontTitle: sans-serif, 'Proxima Nova Black';
$fontText: sans-serif, "Proxima Nova Regular", Arial;

$border: 1px solid;
$border-radius: 20px;

