@import "~bootstrap/scss/bootstrap";

@font-face {
    font-family: 'Proxima Nova Black';
    src: url('fonts/proxima-nova-black.ttf');
    font-display: swap;
}
@font-face {
    font-family: 'Proxima Nova Regular';
    src: url('fonts/proxima-nova-regular.ttf');
    font-display: swap;
}